*{
    box-sizing: border-box;
}

header,footer{
    border: 1px solid gray;
    height: 100px;
    clear: both;
}

.row1{
    border: 1px solid gray;
    height: 150px;
    float: left;
    width: 33.3333%;
}

.row2{
    border: 1px solid gray;
    height: 300px;
    float: left;
    width: 50%;
}

.container{
    clear:both;
}
footer {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
footer a {
  text-decoration: none;
  color: #c63a3a;
}
footer a:hover {
  text-decoration: underline;
  color: #000
}